/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: rgb(30,30,30) !important;
  font-family: sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  margin: 0;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.highcharts-grid.highcharts-xaxis-grid path:first-child {
  display: none !important;
}


.sidebar-wrapper{
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
} 

.sidebar-card {
  margin-top: 0px !important;
  margin-bottom: 3px !important;
  padding: 0 !important;
  width: 160px !important;
  background-color: rgb(87,87,87) !important;
}

.highcharts-container {
  overflow: visible !important;
}

.weather-forecast-day-info-container {
  padding: 0px !important;
  margin-top: 6px !important;
  width: 80px !important;
  border:rgb(6, 7, 8) !important;
  border-width: 0px !important;
  border-style: solid !important;
  font-size: 11px;
}

.weather-forecast-day-info-row {
  padding: 0px !important;
  padding-left: 5px !important;
  margin: 0px !important;
}